body { background: #9500fc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-shipping-0 { color: #603006; font-size: 12px; margin-bottom: 5px; }
.block-product-1 { color: #87896e; font-size: 12px; margin-bottom: 5px; }
.block-user-2 { color: #feb756; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #7c64d; font-size: 17px; margin-bottom: 5px; }
.block-validator-4 { color: #6d5b78; font-size: 15px; margin-bottom: 5px; }
.block-cache-5 { color: #15a3f1; font-size: 19px; margin-bottom: 5px; }
.block-product-6 { color: #110f2b; font-size: 18px; margin-bottom: 5px; }
.block-invoice-7 { color: #ceb553; font-size: 16px; margin-bottom: 5px; }